code {
  font-family: courier;
  padding: 2px;
}

#wrapper{
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* non bulleted categories in tutorial list*/
#main .tutorial.category {
}

#main .tutorial.category li{
}

#main .tutorial.category a{
}

#main .tutorial.item {
}

#code_block {
  border:solid gray;
  border-width:.1em .1em .1em .8em;
  padding:.2em .6em;
}

#sidebar .tutorial.category {
}

#sidebar .tutorial.category a{
}

#sidebar li {
}

#sidebar #searchbox{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  background-color: #d2d2d2;
  margin: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
}

#sidebar #search{
  border: none;
  background-color: #d2d2d2;
  padding: 6px;

}

#sidebar #search-button {
  border: none;
  background-color: transparent;
}

#sidebar #search-button i{
  background-color: transparent;
}

#footer, #push {
  height: 4em;
}
