	html, body
	{
		height: 100%;
	}
	
	body
	{
		background: #c0392b;
		margin: 0px;
		padding: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #333333;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
		color: #333333;
	}


	h1 {
		text-align: center;
		font-size: xx-large;
		line-height: 1.5em;
		padding: 5px 2px 10px 2px;
	}

	h2 {
		font-size: x-large;
		padding: 5px 2px 10px 2px;
	}

	h3 {
		font-size: large;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #c0392b;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	blockquote {
		border-left: #808080 4px solid;
		margin-left: 3px;
		padding-left: 20px;
	}
	

#wrapper{
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
	overflow: hidden;
	width: 60%;
	min-height: 800px;
	background: #fafafa;
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 3em;
	font-size: large;
}

#main h1 {
	font-size: 55px;	
}

#main a {
	text-decoration: none;
	font-weight: 400;
}

#main a:hover {
	text-decoration: underline;
}

#main #tutorials {
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border-radius: 40px;
}

#main .tutorial {
	text-align: left;
}

#main ul li{
	padding-left: 1em;
	margin: 1em 0em 2em 0em;
}

/* non bulleted categories in tutorial list*/
#main div.tutorial.category {
	color: #000000;
	font-weight: 700;
}

#main div.tutorial.category.A {
	font-size: xx-large;
}

#main div.tutorial.category.B {
	font-size: x-large;
}

#main div.tutorial.category.C {
	font-size: larger;
}

#main div.tutorial.category.D {
	font-size: large;
}

#main .tutorial.tut a{
	background-color: #c0392b;
	color: #fff;
	padding: 4px 20px 6px 20px;
	border-radius: 20px;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner	#image
	{
		border-top: #000 10px solid;
		border-bottom: #000 10px solid;
		width: 150%;
		margin-right: -15%;
		float: right;
	}

#title h1{
	font-size: 2.8em;
	margin: 20px 0px 60px 0px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		text-align: center;
		margin-bottom: 4em;
	}
	
	#logo h1
	{
		color: #FFF;
	}
	
/*********************************************************************************/
/* Sidebar                                                                        */
/*********************************************************************************/

#sidebar {
  float: left;
  width: 25%;
}

#sidebar .tutorial.category {
}

#sidebar .tutorial.category a{
}

#sidebar li {
}

#sidebar #searchbox{
  margin: 15%;
  background-color: #e2e2e2;
  border-radius: 15px 15px 15px 15px;
}

#sidebar #search_input {
	background-color: transparent;
	padding: 8px;
	border-width: 0px;
	margin-left: 15px;
}

#sidebar #searchbox i{
  float: right;
  padding: 7px 15px 0px 0px;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
	}
	
	#menu ul
	{
	}
	
	#menu li
	{
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 2em 1.5em;
		text-align: center;
		text-decoration:  none;
		text-transform: uppercase;
		font-weight: 700;
		color: rgba(255,255,255,0.5);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #b72c1c;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}
	
/***********************************************************************/
/* Code                                                                */
/***********************************************************************/

code {
  color: #000;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #f3f3f3;
  border-radius: 10px;
  font-family: courier;
  font-size: small;
  padding-left: 8px;
  padding-right: 8px;
}

pre {
  border:solid gray;
  border-width:.1em .1em .1em 1em;
  border-radius: 10px;
  background-color: #fff;
  padding: 1em 0.5em;
}

pre code {
  font-family: courier;
  padding: initial;
  border: initial;
  background-color: initial;
}



/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright span
	{
		display: block;
		letter-spacing: 0.20em;
		line-height: 2.5em;
		text-align: center;
		text-transform: uppercase;
		font-size: x-small;
		color: rgba(10,10,10,0.7);
	}
	
	#copyright a
	{
		color: rgba(0,0,0,0.9);
		text-decoration: none;
		font-weight: 300;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer, #push {
  height: 4em;
}
